.input-container { /*campo envolta do input*/
  color: #fff;
  width: 100%;
}

.input-container input {  /*input*/
  background-color: transparent;
  box-sizing: border-box;
  width: 100%;
  color: #fff;
  border: none;
  border: 1px solid #ffffff36;
  border-radius: 5px;
  outline: none;
  padding: 10px;
  margin: 10px 0;
  font-size: 1.1rem;
}
.input-container input::placeholder { /*placeholder do input*/
  color: #ffffffb2;
}

.input-container label {  /*label do input*/
  display: block;
  margin: 10px 0 0 0;
}

