/* ListaSuspensa.css */
.listaSuspensa{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.listaSuspensa select { /*Campo Select das opções*/
  background-color: #11173A;
  color: #fff;
  border: 1px solid #ffffff36;
  outline: none;
  font-size: 1.1rem;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  transition: all .5s ease-in-out;
  cursor: pointer;
}
.listaSuspensa select:hover{ /*Campo Select das opções quando passa o mouse*/
  background-color: #001136;
}

.lista-suspensa-container label { /*label do Select*/
  display: block;
  margin-bottom: 5px;
  font-size: 1.5rem;
}
